---
import Layout from "../layouts/Layout.astro";
import Repos from "../components/Repos/Repos.astro";
import More from "../components/MoreSection/More.astro";
---

<Layout title="UANDES OPEN SOURCE">
  <main>
    <Repos />
    <More />
  </main>
</Layout>

<style></style>
