---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header/Header.astro";
---

<Layout title="UANDES OPEN SOURCE">
  <main class="h-screen">
    <Header />
  </main>
</Layout>

<style></style>
