---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header/Header.astro";
import Repos from "../components/Repos/Repos.astro";
import Footer from "../components/Footer/Footer.astro";
---

<Layout title="UANDES OPEN SOURCE">
  <main class="h-screen">
    <Header />
    <Repos />
    <Footer />
  </main>
</Layout>

<style></style>
