---

---

<footer class="bg-gray-800">
  <p class="text-center p-4 text-gray-400">
    © Open Source UANDES - Pagina en Desarrollo - Inspirado en
    <a
      href="https://osuc.dev/"
      aria-label="Open Source UC"
      class="underline text-gray-300"
      target="_blank">Open Source UC</a
    >
  </p>
</footer>
